<h4>Incomplete Tasks</h4>

<table class="table table-bordered table-condensed">
    {{#incomplete_tasks}}
    <tr>
        <th scope="row" class="active">{{id}}</th>
        <td>{{value}}</td>
    </tr>
    {{/incomplete_tasks}}
</table>
