<table class="table table-bordered table-condensed">
    <thead>
        <tr class="active">
            {{#metadata}}
            <th>{{id}}</th>
            {{/metadata}}
        </tr>
    <thead/>
    <tr>
        {{#metadata}}
        <td>{{value}}</td>
        {{/metadata}}
    </tr>
</table>
