<table class="table table-bordered">
	<thead>
		<tr>
			<th></th>
			{{#headers}}
			<th>{{.}}</th>
			{{/headers}}
		</tr>
	</thead>

	<tbody>
		{{#rows}}
		<tr>
			<th scope="row">{{row_head}}</th>
			{{#values}}
			<td>{{.}}</td>
			{{/values}}
		</tr>
		{{/rows}}
	</tbody>
</table>
