{{#sections}}
<table class="table table-bordered table-condensed">
	<thead>
		<tr class="active">
			<th></th>
			{{#days}}
			<th>{{.}}</th>
			{{/days}}
		</tr>
	</thead>

  {{#categories}}
  <tr>
    <th scope="row" class="active">{{id}}</th>
    {{#tasks}}
    <td class="{{style}}">{{time_spent}}</td>
    {{/tasks}}
  </tr>
  {{/categories}}
</table>
{{/sections}}
